.navbar {

    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
}

.wrapperItens {
    display: flex;
    margin-right: 50px;
}

.navbar-itens {
    margin: 25px 20px;
    border: 1px;
    border-radius: 30px;
    background: #f155be;
    padding: 5px 20px;
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logo {
    margin: 10px 50px;
}